.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin-top: 87px;
  font-family: 'Open Sans', sans-serif;
}

.nav {
  background-color: white;
  color: rgb(91,85,106);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 1rem 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  z-index: 1000;
}

.nav-scrolled {
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size:1.25rem;
  font-weight: 400;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav a:hover {
  color: rgb(86,29,226);
}

.nav img {
  width: 150px;
  margin-left: 3rem;
}

html {
  scroll-behavior: smooth;
}

.footer {
  background-color: rgb(57,40,101);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 4rem;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  padding: .25rem;
  display: flex;
  align-items: center;
}

.footer ul {
  list-style: none;
  gap: 2rem;
}

.footer p {
  display: flex;
  text-align: left;
}

.par {
  font-size: 1.25rem;
}

.cop {
  color: rgb(173,166,192);
}

#description {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/stride_climb.svg');
  background-repeat: no-repeat;
  min-height: 50rem;
  background-position-x: right;
}

#name {
  font-weight: 400;
}

.text {
  text-align: left;
  max-width: 40rem;
  margin-right: 30rem;
}

.text h1 {
  color: rgb(86,29,226);
  font-size: 3.5rem;
  font-weight: 500;
}

.text p {
  font-size: 1.5rem;
}

#instructions {
  background-color: rgb(245,245,245);
  padding: 3rem 5rem;
}

#instructions h1 {
  color: rgb(86,29,226);
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

#instructions h2 {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 20px;
  margin: 0;
}

#instructions p {
  font-size: 1.5rem;
}

#steps {
  display: flex;
  align-items:flex-start;
  justify-content: center;
}

#steps div {
  width: 30%;
  padding: 5rem 1% 0rem 1%;
  margin: 0% 4%;
}

#filters {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 5rem auto;
}

#description a {
  background-color: rgb(86,29,226);
  color: white;
  padding: 20px 80px;
  border: none;
  border-radius: 40px;
  font-size: 1.5rem;
}

#description a:hover {
  background-color: rgb(118, 79, 218);
}

#description p {
  margin-bottom: 40px;
}

#roi {
  margin: 2% 5%;
}

#filters h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 1rem;
  color: rgb(86,29,226);
}

#filters h2 {
  font-size: 1.5rem;
}

#filters h3 {
  font-weight: 400;
  font-size: 1.3rem;
}

#filters p {
  font-size: 1.3rem;
}

.solid {
  border: 3px solid rgb(245,245,245); 
  width: 99.5%;
}

.solid2 {
  border: 3px solid rgb(245,245,245); 
  width: 75%;
}

.filter {
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  margin: 0 55px;
}

#drops {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

#filters button {
  background-color: rgb(86,29,226);
  color: white;
  padding: 20px 80px;
  border: none;
  border-radius: 40px;
  font-size: 1.5rem;
}

#filters button:hover {
  background-color: rgb(118, 79, 218);
}

.alignSlider {
  display: flex;
  padding: 2rem 0;
  margin: 0 55px;
  flex-direction: column;
  text-align: left;
}

.align {
  display: flex;
}

.select {
  width: 14rem;
}

#col {
  background-color: rgb(245,245,245);
  padding: 3rem 1rem;
  padding-top: 1.5rem;
}

#res {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 1rem;
  color: rgb(86,29,226);
}

#choose {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#choose h2 {
  font-weight: 500;
  padding: 0px 10px;
}

#choose h3 {
  font-weight: 500;
  padding: 0px 10px;
}

#choose h2:hover {
  cursor: pointer;
  color: rgb(133, 133, 133);
}

