.input-range__slider {
    transition: none;
}
  
.input-range__slider-container {
    transition: none;
}
  
.input-range__track {
    transition: none;
}
  
.input-range__label--min, .input-range__label--max {
    transition: none;
}
  
.input-range__label--value {
    transition: none;
}

.input-range {
    margin-top: 1rem;
}

.input-range__track {
    background: #D3D3D3;
}

.input-range__track--active {
    background: #5E17EB;
}

.input-range__slider {
    background: #5E17EB;
    border: 1px solid #5E17EB;
}

.input-range__label {
    color: #808080;
}